#description {
    margin: 1rem 1rem 1rem 20px;
    color: var(--font-secondary);
}

a.button .material-symbols-rounded {
    left: 0;

}

form {
    width: unset;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group {
    justify-content: center;
}