<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>App de Contactos de Daniela</display-name>

    <servlet>
        <servlet-name>SvController</servlet-name>
        <servlet-class>com.daniela.agendadaniela.SvController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Leave my CSS alone -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

</web-app>